<a href="https://colab.research.google.com/github/RaghavanSivakumaran/programmingpractice/blob/main/crash_course_on_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
       print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [ ]:
# using return values
def area_of_triangle(base,height):
    return base*height/2

area_a = area_of_triangle(5,7)
area_b = area_of_triangle(7,8)
sum = area_a + area_b
print ("The sum of the area is: " + str(sum))

The sum of the area is: 45.5

In [ ]:
def convert_seconds(seconds):
    hours = seconds//3600
    minutes = (seconds-hours*3600)//60
    remaining_seconds = seconds - hours*3600 - minutes*60
    return hours, minutes, remaining_seconds

hours, minutes, remaining_seconds = convert_seconds(6000)
print(hours,minutes,remaining_seconds)

1 40 0

In [ ]:
areaoftriangle = area_of_triangle(25,30)
print(areaoftriangle)

375.0

In [ ]:
print(not"A">"a")

True

In [ ]:
def is_even(number):
    if number % 2 == 0:
      return True
    return False
print("the number is evevn:" + str(is_even(15)))

the number is evevn:False

In [ ]:
def len_user(id):
    if len(id) < 3:
      print("INVALID USER ID. ID TOO SHORT")
    elif len(id) > 15:
      print("INVALID USER ID. ID TOO LONG")
    else:
      print("VALID ID.")


userid = len_user(raghavangctggfuyjugkuuhbkgy)

NameError: ignored

In [ ]:
def attempt(n):
  x = 1
  while x <= n:
    print("Attempt" + str(x))
    x += 1
  print("done")

attempt(5)

Attempt1
Attempt2
Attempt3
Attempt4
Attempt5
done

In [ ]:
def count_factors(given_number):
  factor = 1
  count = 1
  if given_number == 0:
    return 0
  while factor < given_number:
    if given_number % factor == 0:
      count += 1
    factor += 1
  return count

print(count_factors(10))
print(count_factors(0))
print(count_factors(3))
print(count_factors(10))
print(count_factors(24))

4
0
2
4
8

In [ ]:
def addition_table(given_number):
  iterated_number = 1
  my_sum = 1
  while iterated_number <= 5:
    my_sum = given_number + iterated_number
    if my_sum < 20:
      break
    print(str(given_number), "+", str(iterated_number), "=", str(my_sum))

    iterated_number += 1

print(addition_table(6))

None

In [ ]:
for left in range (7):
  for right in range (left,7):
    print("[" + str(left) + "|" + str(right) + "]" , end = " ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [ ]:
teams = ['Dragon', 'Wolves', 'Pandas', 'Unicorn']
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team + "VS" + away_team)

DragonVSWolves
DragonVSPandas
DragonVSUnicorn
WolvesVSDragon
WolvesVSPandas
WolvesVSUnicorn
PandasVSDragon
PandasVSWolves
PandasVSUnicorn
UnicornVSDragon
UnicornVSWolves
UnicornVSPandas

In [ ]:
"  In the world of chaos".lstrip()

'In the world of chaos'

In [ ]:
value = 3323
name = "Raghavan"

print(" Hi, {} has {} rare candies".format(name, value))

 Hi, Raghavan has 3323 rare candies

In [ ]:
price = 75.8900
tax = price*1.09
print("Befor tax:£{:.2f} and after tax :£{:.2f}".format(price, tax))

Befor tax:£75.89 and after tax :£82.72

In [ ]:
def convert_weight(kg):
  lb = kg*2.2
  result = "{} kg should be around {:.2f} lb".format(kg,lb)
  return result

convert_weight(50)

'50 kg should be around 110.00 lb'

In [ ]:
def create_password(name, birth_year):
  return("{}{}".format(name[0:3],birth_year))

print(create_password("Raghavan",2004))

Rag2004

In [ ]:
def replace_date(schedule, old_date,new_date):
  if schedule.endswith(old_date):
    p = len(old_date)
    new_schedule = schedule[:-p] + schedule[-p:].replace(old_date,new_date)
    return new_schedule
  return schedule


print(replace_date("Last year’s annual report will be released in March 2023", "2023", "2024"))

Last year’s annual report will be released in March 2024

In [ ]:
winners = ["Ashley", "Homelander","Deep"]
for index, person in enumerate(winners):
  print("{} - {}".format(index + 1, person))

1 - Ashley
2 - Homelander
3 - Deep

In [ ]:
def full_emails(people):
  result = []
  for email, name in people:
    result.append("{} <{}>".format(name, email))
  return result

print(full_emails([("alex@mail.com","alex grey"), ("shiro@mail.com","shiro kuro")]))

['alex grey <alex@mail.com>', 'shiro kuro <shiro@mail.com>']

In [ ]:
def count_letters(text):
  result = {}
  for letter in text:
    if letter not in result:
      result[letter] = 0
    result[letter] += 1
  return result


print(count_letters("ufhseirbwhrgneilurgjewrgjnwetjgnewubgnejrbehtnbjnfbjqetbetbnejbnerjgnakerhbgehrbgegnhtg"))
print(count_letters("Raghavan"))

{'u': 3, 'f': 2, 'h': 6, 's': 1, 'e': 14, 'i': 2, 'r': 8, 'b': 10, 'w': 4, 'g': 10, 'n': 10, 'l': 1, 'j': 8, 't': 5, 'q': 1, 'a': 1, 'k': 1}
{'R': 1, 'a': 3, 'g': 1, 'h': 1, 'v': 1, 'n': 1}

In [ ]:
def sales_prices(item_and_price):
  item = ""
  price = ""
  item_or_price = item_and_price.split()
  for x in item_or_price:
    if x.isalpha():
      item += x + " "
    else:
      price = x
  item = item.strip()
  return "{} are on sale for £{}.".format(item, price)

print(sales_prices("Winter fleece jackets 49.99"))

Winter fleece jackets are on sale for £49.99.

In [ ]:
def count_words(data_field):
  split_data = data_field.split()
  return len(split_data)

print(count_words("I'll tell you what yeah you fat little cunt. WTF is a km rahhhhhhh🦅"))

14

In [ ]:
print("🦅")

🦅

In [ ]:
def record_profit_years(recent_first,recent_last):
  recent_first.reverse()
  recent_last.extend(recent_first)
  return recent_last

recent_first = [2023, 2022, 2021, 2020, 2019]
recent_last = [2015, 2016, 2017, 2018]


print(record_profit_years(recent_first, recent_last))

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [ ]:
def odd_number(x,y):
  return[n for n in range (x,y) if n % 2 != 0]

print(odd_number(1,100))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
def network(server):
  result = " "
  for host_name, ip_address in server.items():
    result += "The IP address of {} server is {}.".format(host_name,ip_address) + "\n"
  return result

print(network({"Domain Name Server":"8.8.8.8", "Gateway Server":"192.168.1.1", "Print Server":"192.168.1.33", "Mail Server":"192.168.1.190"}))

 The IP address of Domain Name Server server is 8.8.8.8.
The IP address of Gateway Server server is 192.168.1.1.
The IP address of Print Server server is 192.168.1.33.
The IP address of Mail Server server is 192.168.1.190.