<a href="https://colab.research.google.com/github/RaghavanSivakumaran/programmingpractice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(10):
       print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [8]:
# using return values
def area_of_triangle(base,height):
    return base*height/2

area_a = area_of_triangle(5,7)
area_b = area_of_triangle(7,8)
sum = area_a + area_b
print ("The sum of the area is: " + str(sum))

The sum of the area is: 45.5

In [11]:
def convert_seconds(seconds):
    hours = seconds//3600
    minutes = (seconds-hours*3600)//60
    remaining_seconds = seconds - hours*3600 - minutes*60
    return hours, minutes, remaining_seconds

hours, minutes, remaining_seconds = convert_seconds(6000)
print(hours,minutes,remaining_seconds)

1 40 0

In [13]:
areaoftriangle = area_of_triangle(25,30)
print(areaoftriangle)

375.0

In [16]:
print(not"A">"a")

True

In [40]:
def is_even(number):
    if number % 2 == 0:
      return True
    return False
print("the number is evevn:" + str(is_even(15)))

the number is evevn:False

In [80]:
def len_user(id):
    if len(id) < 3:
      print("INVALID USER ID. ID TOO SHORT")
    elif len(id) > 15:
      print("INVALID USER ID. ID TOO LONG")
    else:
      print("VALID ID.")


userid = len_user(raghavangctggfuyjugkuuhbkgy)

NameError: ignored

In [8]:
def attempt(n):
  x = 1
  while x <= n:
    print("Attempt" + str(x))
    x += 1
  print("done")

attempt(5)

Attempt1
Attempt2
Attempt3
Attempt4
Attempt5
done

In [3]:
def count_factors(given_number):
  factor = 1
  count = 1
  if given_number == 0:
    return 0
  while factor < given_number:
    if given_number % factor == 0:
      count += 1
    factor += 1
  return count

print(count_factors(10))
print(count_factors(0))
print(count_factors(3))
print(count_factors(10))
print(count_factors(24))

4
0
2
4
8

In [10]:
def addition_table(given_number):
  iterated_number = 1
  my_sum = 1
  while iterated_number <= 5:
    my_sum = given_number + iterated_number
    if my_sum < 20:
      break
    print(str(given_number), "+", str(iterated_number), "=", str(my_sum))

    iterated_number += 1

print(addition_table(6))

None

In [3]:
for left in range (7):
  for right in range (left,7):
    print("[" + str(left) + "|" + str(right) + "]" , end = " ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [4]:
teams = ['Dragon', 'Wolves', 'Pandas', 'Unicorn']
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team + "VS" + away_team)

DragonVSWolves
DragonVSPandas
DragonVSUnicorn
WolvesVSDragon
WolvesVSPandas
WolvesVSUnicorn
PandasVSDragon
PandasVSWolves
PandasVSUnicorn
UnicornVSDragon
UnicornVSWolves
UnicornVSPandas

In [1]:
"  In the world of chaos".lstrip()

'In the world of chaos'

In [6]:
value = 3323
name = "Raghavan"

print(" Hi, {} has {} rare candies".format(name, value))

 Hi, Raghavan has 3323 rare candies

In [9]:
price = 75.8900
tax = price*1.09
print("Befor tax:£{:.2f} and after tax :£{:.2f}".format(price, tax))

Befor tax:£75.89 and after tax :£82.72

In [10]:
def convert_weight(kg):
  lb = kg*2.2
  result = "{} kg should be around {:.2f} lb".format(kg,lb)
  return result

convert_weight(50)

'50 kg should be around 110.00 lb'

In [17]:
def create_password(name, birth_year):
  return("{}{}".format(name[0:3],birth_year))

print(create_password("Raghavan",2004))

Rag2004

In [19]:
def replace_date(schedule, old_date,new_date):
  if schedule.endswith(old_date):
    p = len(old_date)
    new_schedule = schedule[:-p] + schedule[-p:].replace(old_date,new_date)
    return new_schedule
  return schedule


print(replace_date("Last year’s annual report will be released in March 2023", "2023", "2024"))

Last year’s annual report will be released in March 2024